doctype html
html(lang='en')
  head
    title OneShop
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='OneTech shop project')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='styles/bootstrap4/bootstrap.min.css')
    link(href='plugins/fontawesome-free-5.0.1/css/fontawesome-all.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='plugins/OwlCarousel2-2.2.1/owl.carousel.css')
    link(rel='stylesheet', type='text/css', href='plugins/OwlCarousel2-2.2.1/owl.theme.default.css')
    link(rel='stylesheet', type='text/css', href='plugins/OwlCarousel2-2.2.1/animate.css')
    link(rel='stylesheet', type='text/css', href='plugins/slick-1.8.0/slick.css')
    link(rel='stylesheet', type='text/css', href='styles/main_styles.css')
    link(rel='stylesheet', type='text/css', href='styles/responsive.css')
  body

    .super_container
      // Header
      header.header
        // Top Bar
        .top_bar
          .container
            .row
              .col.d-flex.flex-row
                .top_bar_contact_item
                  .top_bar_icon
                    img(src='images/phone.png', alt='')
                  | +38 068 005 3570
                .top_bar_contact_item
                  .top_bar_icon
                    img(src='images/mail.png', alt='')
                  a(href='mailto:fastsales@gmail.com') fastsales@gmail.com
                .top_bar_content.ml-auto
                  .top_bar_user
                    .user_icon
                      img(src='images/user.svg', alt='')
                    div
                      a(href='#') Register
                    div
                      a(href='#') Sign in
        // Header Main
        .header_main
          .container
            .row
              // Logo
              .col-lg-2.col-sm-3.col-3.order-1
                .logo_container
                  .logo
                    a(href='#') OneTech
              // Search
              .col-lg-6.col-12.order-lg-2.order-3.text-lg-left.text-right
                .header_search
                  .header_search_content
                    .header_search_form_container
                      form.header_search_form.clearfix(action='#')
                        input.header_search_input(type='search', required='required', placeholder='Search for products...')
                        .custom_dropdown
                          .custom_dropdown_list
                            span.custom_dropdown_placeholder.clc All Categories
                            i.fas.fa-chevron-down
                            ul.custom_list.clc
                              li
                                a.clc(href='#') All Categories
                              li
                                a.clc(href='#') Computers
                              li
                                a.clc(href='#') Laptops
                              li
                                a.clc(href='#') Cameras
                              li
                                a.clc(href='#') Hardware
                              li
                                a.clc(href='#') Smartphones
                        button.header_search_button.trans_300(type='submit', value='Submit')
                          img(src='images/search.png', alt='')
              // Wishlist
              .col-lg-4.col-9.order-lg-3.order-2.text-lg-left.text-right
                .wishlist_cart.d-flex.flex-row.align-items-center.justify-content-end
                  .wishlist.d-flex.flex-row.align-items-center.justify-content-end
                    .wishlist_icon
                      img(src='images/heart.png', alt='')
                    .wishlist_content
                      .wishlist_text
                        a(href='#') Wishlist
                      .wishlist_count 115
                  // Cart
                  .cart
                    .cart_container.d-flex.flex-row.align-items-center.justify-content-end
                      .cart_icon
                        img(src='images/cart.png', alt='')
                        .cart_count
                          span 10
                      .cart_content
                        .cart_text
                          a(href='#') Cart
                        .cart_price $85
        // Main Navigation
        nav.main_nav
          .container
            .row
              .col
                .main_nav_content.d-flex.flex-row
                  // Main Nav Menu
                  .main_nav_menu.ml-auto
                    ul.standard_dropdown.main_nav_dropdown
                      li
                        a(href='#')
                          | Home
                          i.fas.fa-chevron-down
                      li
                        a(href='contact.html')
                          | Contact
                          i.fas.fa-chevron-down
                  // Menu Trigger
                  .menu_trigger_container.ml-auto
                    .menu_trigger.d-flex.flex-row.align-items-center.justify-content-end
                      .menu_burger
                        .menu_trigger_text menu
                        .cat_burger.menu_burger_inner
                          span
                          span
                          span
        // Menu
        .page_menu
          .container
            .row
              .col
                .page_menu_content
                  .page_menu_search
                    form(action='#')
                      input.page_menu_search_input(type='search', required='required', placeholder='Search for products...')
                  ul.page_menu_nav
                    li.page_menu_item
                      a(href='#')
                        | Home
                        i.fa.fa-angle-down
                    li.page_menu_item
                      a(href='register.html')
                        | Register
                        i.fa.fa-angle-down
                    li.page_menu_item
                      a(href='sigin.html')
                        | Sign in
                        i.fa.fa-angle-down
                  .menu_contact
                    .menu_contact_item
                      .menu_contact_icon
                        img(src='images/phone_white.png', alt='')
                      | +38 068 005 3570
                    .menu_contact_item
                      .menu_contact_icon
                        img(src='images/mail_white.png', alt='')
                      a(href='mailto:fastsales@gmail.com') fastsales@gmail.com

      //content	
      block content

      // Footer
      footer.footer
        .container
          .row
            .col-lg-3.footer_col
              .footer_column.footer_contact
                .logo_container
                  .logo
                    a(href='#') OneTech
                .footer_title Got Question? Call Us 24/7
                .footer_phone +38 068 005 3570
                .footer_contact_text
                  p 17 Princess Road, London
                  p Grester London NW18JR, UK
                .footer_social
                  ul
                    li
                      a(href='#')
                        i.fab.fa-facebook-f
                    li
                      a(href='#')
                        i.fab.fa-twitter
                    li
                      a(href='#')
                        i.fab.fa-youtube
                    li
                      a(href='#')
                        i.fab.fa-google
                    li
                      a(href='#')
                        i.fab.fa-vimeo-v
            .col-lg-2.offset-lg-2
              .footer_column
                .footer_title Find it Fast
                ul.footer_list
                  li
                    a(href='#') Computers & Laptops
                  li
                    a(href='#') Cameras & Photos
                  li
                    a(href='#') Hardware
                  li
                    a(href='#') Smartphones & Tablets
                  li
                    a(href='#') TV & Audio
                .footer_subtitle Gadgets
                ul.footer_list
                  li
                    a(href='#') Car Electronics
            .col-lg-2
              .footer_column
                ul.footer_list.footer_list_2
                  li
                    a(href='#') Video Games & Consoles
                  li
                    a(href='#') Accessories
                  li
                    a(href='#') Cameras & Photos
                  li
                    a(href='#') Hardware
                  li
                    a(href='#') Computers & Laptops
            .col-lg-2
              .footer_column
                .footer_title Customer Care
                ul.footer_list
                  li
                    a(href='#') My Account
                  li
                    a(href='#') Order Tracking
                  li
                    a(href='#') Wish List
                  li
                    a(href='#') Customer Services
                  li
                    a(href='#') Returns / Exchange
                  li
                    a(href='#') FAQs
                  li
                    a(href='#') Product Support
      // Copyright
      .copyright
        .container
          .row
            .col
              .copyright_container.d-flex.flex-sm-row.flex-column.align-items-center.justify-content-start
                .copyright_content
                  // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                  | Copyright ©
                  script.
                    document.write(new Date().getFullYear());
                  |  All rights reserved | This template is made with 
                  i.fa.fa-heart(aria-hidden='true')
                  |  by 
                  a(href='https://colorlib.com', target='_blank') Colorlib
                  // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                .logos.ml-sm-auto
                  ul.logos_list
                    li
                      a(href='#')
                        img(src='images/logos_1.png', alt='')
                    li
                      a(href='#')
                        img(src='images/logos_2.png', alt='')
                    li
                      a(href='#')
                        img(src='images/logos_3.png', alt='')
                    li
                      a(href='#')
                        img(src='images/logos_4.png', alt='')
   
    script(src='js/jquery-3.3.1.min.js')
    script(src='styles/bootstrap4/popper.js')
    script(src='styles/bootstrap4/bootstrap.min.js')
    script(src='plugins/greensock/TweenMax.min.js')
    script(src='plugins/greensock/TimelineMax.min.js')
    script(src='plugins/scrollmagic/ScrollMagic.min.js')
    script(src='plugins/greensock/animation.gsap.min.js')
    script(src='plugins/greensock/ScrollToPlugin.min.js')
    script(src='plugins/OwlCarousel2-2.2.1/owl.carousel.js')
    script(src='plugins/slick-1.8.0/slick.js')
    script(src='plugins/easing/easing.js')
    script(src='js/custom.js')
