doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Usaha Bengkulu Selatan
    link(href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Raleway:400,100', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/owl.carousel.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/responsive.css')
  body
    .header-area
      .container
        .row
          .col-md-8
            .user-menu
              ul
                li
                  a(href='#')
                    i.fa.fa-user
                    | Home
                li
                  a(href='#')
                    i.fa.fa-heart
                    | Contact
    // End header area
    .footer-bottom-area
      .container
        .row
          .col-md-8
            .copyright
              p
                | © 2019 Created By Express Js . 
                a(href='# target=', _blank"='') Heru Prasetyo
          .col-md-4
            .footer-card-icon
              i.fa.fa-cc-discover
              i.fa.fa-cc-mastercard
              i.fa.fa-cc-paypal
              i.fa.fa-cc-visa
             
    // End footer bottom area

     
    // Latest jQuery form server
    script(src='https://code.jquery.com/jquery.min.js')
    // Bootstrap JS form CDN
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    // jQuery sticky menu
    script(src='/javascripts/owl.carousel.min.js')
    script(src='/javascripts/jquery.sticky.js')
    // jQuery easing
    script(src='/javascripts/jquery.easing.1.3.min.js')
    // Main Script
    script(src='/javascripts/main.js')
    // Slider
    script(type='text/javascript', src='/javascripts/bxslider.min.js')
    script(type='text/javascript', src='/javascripts/script.slider.js')
    
 block content